@tailwind base;
@tailwind components;
@tailwind utilities;

  body::-webkit-scrollbar {
    width: 0.25rem !important;
  }
  body::-webkit-scrollbar-thumb {
    background: #373738 !important;
    border-radius: 10px !important;
  }
  